snippet reactclass "Simple react classs definition" b
import * as React from 'react';

interface IProps {
}

class $1 extends React.Component<IProps> {
	public render() {
		return (
			null
		);
	}
}

export default $1;
endsnippet

snippet reactpure "Simple react functional component" b
import * as React from 'react';

interface IProps {
}

const $1 = (props: IProps) => {
	return (
		$2
	);
}

export default $1;
endsnippet
